
/* Styles pour la prestation-card */
.prestation-container {
  padding: 40px 20px;
}

.prestation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.prestation-card {
  width: 380px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s;
  overflow: hidden;
  position: relative;
}

.prestation-card:hover {
  transform: scale(1.05);
}

.image-container {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*opacity: 0;
  transition: opacity 0.3s;*/
}

.prestation-card:hover .overlay {
  opacity: 1;
 /*opacity: 0;*/
  /*transition: opacity 0.3s;*/
}
/* La descriptioncachée  */
.overlay p {
  opacity: 0;
  transition: opacity 0.3s;
  text-align: center;
}

/* Afficher la description au survol */
.prestation-card:hover .overlay p {
  opacity: 1;
}
.overlay p {
  text-align: center;
}
.prestation-card:hover .overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

.prestation-details {
  background: black;
  color: white;
  border-radius: 10px;
}

.details-img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Section des tarifs */
.tarifs-section {
  max-width: 900px;
  width: 100%;
  background: #f8f9fa;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Style des catégories */
.tarif-category {
  background: #222; /* Fond noir classe */
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Liste des tarifs */
.tarif-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border: 2px solid #d4af37; /* Bordure dorée */
  border-radius: 8px;
  margin-bottom: 10px;
  background: #333; /* Gris foncé classe */
  color: white;
  cursor: pointer;
}

/* Titre de la prestation */
.tarif-title {
  flex-grow: 1;
  padding: 10px;
  border-right: 2px solid #d4af37; /* Bordure dorée entre titre et prix */
  font-weight: 600;
}

/* Prix de la prestation */
.tarif-price {
  padding: 10px 15px;
  background: #d4af37; /* Fond doré */
  color: #222;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
