<nav class="navbar">
  <div class="logo">
    <img src="assets/images/logo/logo1.png" alt="Logo" class="logo-img" />
    <span class="salon-name">Beauty Glow</span>
  </div>

  <ul class="nav-links" [class.active]="menuOpen">
    <li><a routerLink="/home">Accueil</a></li>
    <li><a routerLink="/prestation">Prestations</a></li>
    <li><a [routerLink]="['/home']" fragment="our-team" >Notre Equipe</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/reservation">Réserver</a></li>
  </ul>

  <div class="auth-buttons">
    <a routerLink="/login" class="btn" title="Connexion">
      <i class="fas fa-user"></i>
      <span class="text">Connexion</span>
    </a>
  </div>

  <div class="burger-menu" (click)="toggleMenu()">
    ☰
  </div>
</nav>

