<nav class="navbar">
  <div class="logo">
    <img src="assets/images/logo/logo1.png" alt="Logo" class="logo-img" />
    <span class="salon-name">Beauty Glow</span>
  </div>

  <ul class="nav-links" [class.active]="menuOpen">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/prestation">Services</a></li>
    <li><a routerLink="/our-team">Our Team</a></li>
    <li><a routerLink="/contacts">Contacts</a></li>
    <li><a routerLink="/reservation">Booking Now</a></li>
  </ul>

  <div class="auth-buttons">
    <a routerLink="/login" class="btn" title="Connexion">
      <i class="fas fa-user"></i>
      <span class="text">Connexion</span>
    </a>
  </div>

  <div class="burger-menu" (click)="toggleMenu()">
    ☰
  </div>
</nav>

