@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Great+Vibes&family=Montserrat:wght@300;600&family=Bebas+Neue&display=swap');

/* Style général */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: white;
  padding: 10px 20px;
  z-index: 1;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 60px;
  height: auto;
  margin-right: 10px;
  border-radius:50px;
}
/*nom salon*/
.salon-name {
  font-family: 'Great Vibes', cursive;
  font-size: 42px;
  font-weight: 400;
  color: #D4AF37;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

/* Menu */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
}

.auth-buttons .btn {
  display: flex;
  align-items: center;
  gap: 8px; /* Espace entre l'icône et le texte */
  padding: 8px 12px;
  border-radius: 9px;
  background-color: #D4AF37;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.auth-buttons .btn i {
  font-size: 18px; /* Taille de l'icône */
}


/* Burger menu (caché en grand écran) */
.burger-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
.nav-links {
  transition: transform 0.3s ease-in-out;
}

.nav-links.active {
  transform: translateX(0);
}

/* Mode responsive (mobile) */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: rgba(0, 0, 0, 0.9);
    padding: 10px;
    border-radius: 5px;
  }

  /* Afficher le menu quand menuOpen est actif */
  .nav-links.active {
    display: flex;
  }

  .burger-menu {
    display: block;
  }
}
