<!-- SECTION HERO -->
<section class="hero">
  <div class="hero-content">
    <h1 class="salon-name">Beauty Glow</h1>
    <button class="btn-booking"><a routerLink="/reservation">Booking Now</a></button>
  </div>
</section>

<!-- SECTION À PROPOS -->
<section class="about">
  <div class="about-container">
    <div class="about-image">
      <img src="assets/images/presentation/presentation.jpg" alt="Salon">
    </div>
    <div class="about-text">
      <h2>Beauty Glow</h2>
      <p> <strong>Bienvenue chez Beauty Glow, votre havre de beauté et de bien-être !</strong><br>
        Situé au cœur du Centre Ville METZ , notre salon est un espace dédié à la mise en valeur de votre beauté. Spécialistes en coiffure, soins capillaires et tendances actuelles, nous vous offrons des prestations sur mesure adaptées à votre style et à votre personnalité.<br>

        Chez Beauty Glow, nous utilisons des produits de haute qualité et des techniques modernes pour sublimer votre chevelure. Que vous souhaitiez une coupe tendance, une coloration éclatante ou un soin profond, notre équipe de professionnels est à votre écoute pour réaliser vos envies.<br>

        Laissez-vous chouchouter dans une ambiance chaleureuse et relaxante, où chaque visite est une véritable expérience de bien-être.</p>
      <button class="btn-booking"><a routerLink="/reservation">Booking Now</a></button>
    </div>
  </div>
</section>

<!-- SECTION OUR TEAM -->
<section class="team">
  <h2>Our Team</h2>
  <div class="team-container">
    <div class="team-member">
      <img src="assets/images/personnelles/cia.jpg" alt="chia">
      <h3>Aguia Chia</h3>
      <p>Responsable du salon & experte relation client</p>
      <span>8 ans d’expérience</span>
    </div>

    <div class="team-member">
      <img src="assets/images/personnelles/Celia.jpg" alt="Celia">
      <h3>Cabley Celia</h3>
      <p>Coiffeuse experte & coloriste</p>
      <span>6 ans d’expérience</span>
    </div>
    <div class="team-member">
      <img src="assets/images/personnelles/Sophian.jpg" alt="Sofiane">
      <h3>Sofiane Doe</h3>
      <p>Coiffeur-styliste & visagiste</p>
      <span>4 ans d’expérience</span>
    </div>
    <div class="team-member">
      <img src="assets/images/personnelles/marine.jpg" alt="marine">
      <h3>Von_hof Marine </h3>
      <p>Experte en soins capillaires & lissage</p>
      <span>5 ans d’expérience</span>
    </div>

    <div class="team-member">
      <img src="assets/images/personnelles/freddy.jpg" alt="freddy">
      <h3>Nankoue Freddy</h3>
      <p>Barbier & spécialiste coiffures masculines</p>
      <span>3 ans d’expérience</span>
    </div>
  </div>
  <div class="discover">
    <h4>Discover ours </h4>
    <button class="btn-booking"><a routerLink="/prestation">Services</a></button>
  </div>
</section>

